@import url("./include/include.css");

.recruit{
  font-size: 20px;
  width: 200px;
  height: auto;
  border-radius: 5%;
  color:white;
  background-color: rgb(226, 139, 9);
}

.back{
  font-size: 20px;
  width: 100px;
  height: auto;
  border-radius: 5%;
  color:white;
  background-color: gray;
}

main{
  height: calc(100vh - 90px - 60px);
}