@import url("./include/include.css");

.jsbb{
  font-size: 22px;
}

.welcome{
  background-image: url("./others/LINE_P20210514_14085720.jpg");
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
}

.recruit{
  font-size: 20px;
  width: 200px;
  height: auto;
  border-radius: 5%;
  color:white;
  background-color: rgb(226, 139, 9);
}

@media screen and (max-width: 820px){
  .welcome{
    width: auto;
    
  }

  iframe{
    width: auto;
  }
  }